app/logs/log-*.php
!app/config/config.php
!app/config/database.php
!app/config/redis.php
!app/logs/index.html
!app/cache/index.html
!app/cache/.htaccess
!pub/data/uploads/index.html
!pub/data/photos/index.html
app/cache/*
pub/data*
pub/data/uploads/*
pub/data/photos/*
pub/npm/*
.idea/*
.idea/scopes/*
node_modules/*
vendor/*
.vs
.vscode
.env