#category_active_image{
	margin-bottom: 10px;
	height: 150px;
	object-fit: cover;
	cursor: pointer;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

#upload_button{
	padding: 0;
}
.modal-body {
    max-height: 555px;
}

.hide{
	display: none;
}

.bottom_description{
	margin-top: 40px;
}

p.note{ 
	font-size: 11px;
    background-color: #f4bd00;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 5px;
    text-align: center;
}