#pac-input {
    margin-top: 10px;
    padding: 6px;
    width: 60%;
}
#map {
    height: 400px;
    width: 100%;
    margin-bottom: 20px;
}

.card{
	margin-bottom: 3px;

}

.card-link{
	display: block;
	width: 100%;
}


#property_active_logo, #property_active_image {
    border-radius: 4px;
    max-width: 400px;
    height: 200px;
    object-fit: cover;
}

#upload_button{
 	padding: 0px;
 }

 .clear_logo{
    position: absolute;
    margin-top: 10px;
    right: 25px;
    font-size: 30px;
    cursor: pointer;
 }
/*
.button_add_slider{
    position: absolute;
    top: 12px;
    left: 80px;
}

.card-link label{
	cursor: pointer;
}

#sortable { list-style-type: none; margin: 0; padding: 0; }
#sortable li { cursor: move; }
#sortable .btn-actions {
	position: absolute;
	right: 20px;
	top: 5px;
}

.thumbnail {
	height: 130px;
	overflow: hidden;
	padding: 0;
	margin-bottom: 10px;
}*/
p.note{ 
	font-size: 11px;
    background-color: #f4bd00;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 5px;
    text-align: center;
}

.hide{
	display: none;
}

.bootstrap-tagsinput{
	border: 1px solid #a9a9a9;
    padding: 5px;
}
.badge-info{
	padding: 5px;
}

.bootstrap-tagsinput input{
	border: 0px;
	width: 100%;
}

.pointer, .property_vital_details input[type="radio"]{
	cursor: pointer;
}

.pointer1{
	margin-right: 30px;
}

.bootstrap-tagsinput .fa-times{ font-size: 11px; padding-left: 5px; cursor: pointer; }

.alertify-buttons{ padding: 10px; color: #FFF; }
#alertify-ok{ text-decoration: none; color: #FFF} 
.alertify-button-ok, .alertify-button-ok:hover{ background-color: #666; color: #FFF}


.property_construction_update_container {
    width: 100%;
    padding: 0 10px;
    margin-bottom: 10px;
}

.property_construction_update {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    cursor: pointer;
  	padding: 0 10px;
}

.property_construction_update:hover {
    opacity: 1;
}

.property_construction_update::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
   
    background: #4CAF50;
    cursor: pointer;
}

.property_construction_update::-moz-range-thumb {
    width: 25px;
    height: 25px;
 
    background: #4CAF50;
    cursor: pointer;
}

.year label{
	font-size: 13px;
	color: #666;
}

.year .presell{
	text-align: center;	
}

.year .turnover{
	text-align: right;
}

.year .turnover label{
	margin-right: 25px;
}

.year input{
	width: 80px;
}

.year .ground input{
	margin-left: 15px;
}

.year .turnover input{
	float: right;
	margin-right: 15px;
}



@media only screen and (max-width: 1024px) {
    .property_vital_details, .property_overview, .prop_left_details, .prop_right_details {
	    -ms-flex: 0 0 100% !important;
	    flex: 0 0 100% !important;
	    max-width: 100% !important;
	}

	#property_active_image, #upload_button{
		max-width: 500px;
	}
}

@media only screen and (max-width: 768px) {
    #pac-input{
    	left: 10px !important;
    	margin-top: 53px;
    	width: 92%;
    }

    #sortable li{
	    -ms-flex: 0 0 50%;
	    flex: 0 0 50%;
	    max-width: 50%;
    }
}

@media only screen and (max-width: 425px) {
    #sortable li{
	    -ms-flex: 0 0 100%;
	    flex: 0 0 100%;
	    max-width: 100%;
    }
}