#sortable { list-style-type: none; margin: 0; padding: 0; }
#sortable li { cursor: move; }

#sortable .btn-actions {
	position: absolute;
	right: 20px;
	top: 5px;
}

ol#instruction, ol#operations {
	padding-left: 15px;
}

	ol#instruction li {
		margin-bottom: 10px;
	}

.thumbnail {
	/*position: relative;*/
	height: 100px;
	overflow: hidden;
	padding: 0;
	margin-bottom: 10px;
	/*background-color: #DDD;*/
}

.tab-content {
    border: 1px solid #c5d0dc;
    border-top: none;
    padding: 16px 12px;
    position: relative;
    overflow: hidden;
}

.nav-tabs .nav-link {
    border: 1px solid #c5d0dc;
    border-bottom: none;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-color:  #c5d0dc;
    border-top: 2px solid #379392;
}

.pointer{ cursor: pointer; }

.add_banner{ 
	margin-bottom: 10px;
    margin-right: 15px;
}

.selected_display_form{
	margin: 30px 0 50px 0;
}

@media(max-width: 1650px) {
	#video_upload .col-sm-4, #video_upload .col-sm-8{
		-ms-flex: 0 0 100% !important;
	    flex: 0 0 100% !important;
	    max-width: 100% !important;
	}
	#video_upload .col-sm-8{
		margin-top: 20px;
		max-width: 800px !important;
	}
}