 #dt-images_wrapper .row:first-child {
	display: none;
}

#dt-images_wrapper .row:last-child {
	background-color: #FFF;
	border: none;
}


#image_sizes .thumbnail, #thumbnails .thumbnail {
	position: relative;
	height: 130px;
	overflow: hidden;
	padding: 0;
	/*background-color: #DDD;*/
}

.popover {
	z-index: 99999;
}

.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(0, 0, 0, 0.75);
    width:100%;
    height:100%;
    padding:1%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}

 #dropzone {
	padding: 0;
	margin: 0;
	border: 1px dashed #CCC;
	width: 100% !important;
	height: 10px;
	overflow: hidden;
}

p.note{ 
	font-size: 11px;
    background-color: #f4bd00;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 5px;
    text-align: center;
}

.hide{
	display: none;
}