 #dropzone {
	padding: 0;
	margin: 0;
	border: 1px dashed #CCC;
	width: 100% !important;
	height: 10px;
	overflow: hidden;
}

p.note{ 
	font-size: 11px;
    background-color: #f4bd00;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 5px;
    text-align: center;
}

.hide{
	display: none;
}